.navbar {
    background-color: #6D071A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title {
    order: 2;
    color: #E1C699;
    font-family: Brush Script MT, Brush Script Std, cursive	;
    font-size: 20px;
}

.home-icon {
    display:flex;
    order: 1;
    width: 121px;
    height: 70px;
    color: #E1C699;    
    padding-top: 15px;
}

.library-icon{
    display: flex;
    width: 121px;
    height: 70px;
    color: #E1C699;      
    padding-top: 15px;
}

.sidebar {
    display: flex;
    float:"left";
    width: "40%";
}

body {
    width: 100%
}

.horizontal-menu {
    display: flex;
}

.book-gallery {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    width: 90%;
    justify-content: center;
}

.book-card {
    text-align: center;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    transition: 0.5s ease;
}

.book-card:hover {
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}
