/* .navbar {
    background-color: #6D071A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.title {
    color: #E1C699;
    font-family: Brush Script MT, Brush Script Std, cursive	;
    font-size: 1.5vw;
    width: fit-content;

}

.home-icon {
    display:flex;
    width: 3.5rem;
    height: 3.5rem;
    color: #E1C699;    
    padding: 1.5rem;
    margin: 1rem;
    margin-top: 0.5rem;
}

.library-icon{
    display: flex;
    width: 3rem;
    height: 3rem;
    color: #E1C699;      
    padding: 1.5rem;
    margin: 1rem;
    margin-top: 0.75rem;
}

.about-body {
    display: flex;
    flex-direction: row;
}

.about-writing {
    flex-shrink: 2;
}
.sidebar {
    display: flex;
    width: 800px;
    flex-direction: column;
    color: #6D071A;
} */

body {
    width: 100%
}

.horizontal-menu {
    display: flex;
}
.navbar {
    background-color: #6D071A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.book-gallery {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    width: 90%;
    justify-content: center;
}

.book-card {
    text-align: center;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    transition: 0.5s ease;
}

.book-card:hover {
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}
