.about-body {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
}

.about-writing {
    padding-right: 10px;
    font-family: 'Special Elite', cursive;
}

.sidebar {
    display: flex;
    width: 1000px;
    flex-direction: column;
    color: #6D071A;
    border-style: outset left;
    border-left: 1px solid #6D071A ;
    padding-left: 30px;
    padding-right: 20px;
}

.sidebar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 200px;
    justify-content: space-between;
}

h2 {
    font-family: Brush Script Std, cursive;
    font-size: 2rem;
    text-decoration: underline; 
    margin-bottom: 3rem;
    color: #6D071A;
}
/* style the underlining better */
